/* global styles */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafbfc;
    margin: 0;
}

/* header styles */
.hero-img {
    background-image: url('../imges/new-header.jpg');
    background-size: cover ;
    background-position: 40% 90%;
    min-height: 25vh;
    padding: 1em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
}

/* content styles */
.container {
    margin: auto;
}

article, aside {
    margin: 2em;
}

/* article styles */
article header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

time {
    color: #7a91a5;
    font-family: 'Montserrat', sans-serif;
}

article img {
    width: 100%;
    height: auto;
}

a {
    color: #ff9933;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* aside styles */
aside {
    display: flex;
    margin-top: 2em;
    border-top: 2px solid #dbe2e8;
    padding-top: 2em;
}

aside img {
    width: 100%;
    height: auto;
}

.aside-text {
    margin-left: 2em;
}

.aside-text h2 {
    margin-top: 0;
}

section i {
    font-size: 1.5em;
    color: #ff9933;
    padding-right: 10px;
}

/* footer styles */
footer {
    padding: 2em;
    border-top: 2px solid #dbe2e8;
    margin-top: 2em;
    text-align: center;
}

footer i {
    color: #ff9933;
    font-family: 'Montserrat', sans-serif;
}

/* responsive styles */
@media (min-width: 1000px) {
    .hero-img {
        min-height: 35vh;
        margin-bottom: 2em;
    }
    .container {
        display: flex;
    }
    main {
        flex: 1 1 70%;
    }
    aside {
        display: block;
        border-top: 0;
        border-left: 2px solid #dbe2e8;
        padding: 2em;
        margin: 0;
        flex: 1 1 30%;
        align-self: flex-start;
    }
    .aside-text {
        margin-left: 0;
    }
    .aside-text h2 {
        margin-top: 0.5em;
    }
}

@media (max-width: 650px) {
    aside {
        flex-wrap: wrap;
    }
    .aside-text {
        margin-left: 0;
    }
    section i {
        padding-right: 5px;
    }
    .aside-text h2 {
        margin-top: 0.5em;
    }
}