/* global styles */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafbfc;
    margin: 0;
}

/* header styles */
.hero-img {
    background-image: url('../imges/new-header.jpg');
    background-size: cover ;
    background-position: 40% 90%;
    min-height: 25vh;
    padding: 1em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
}

/* content styles */
.container {
    margin: auto;
}

article, aside {
    margin: 2em;
}

/* article styles */
article header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

time {
    color: #7a91a5;
    font-family: 'Montserrat', sans-serif;
}

article img {
    width: 100%;
    height: auto;
}

a {
    color: #ff9933;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}